@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  display: none;
}

.header-lista {
  list-style: none;
  display: flex;
  justify-content: flex-start;

}

.header-lista li {
  margin-right: 12px;
}

.header-lista li a {
  color: white;
  text-decoration: none;

}

.header-container-bottom {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;

}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  margin-top: 3px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;

}

.menu {
  /* display: none; */
  width: 30%;

}

.menu-burguer i {
  color: white;
  font-size: 1.5rem;

}

/* main */

.bienvenida {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.text-desc {
  background-color: F0A83E;
  font-weight: 100;
  color: FFFFFF;
}


/* banner */
.banner {
  display: flex;
  flex-direction: column;
  align-content: flex-start;

}

.banner-img-container {
  background-image: url("../img/bowl-and-pet-daities-on-green-background.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.banner-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.banner-description {
  font-weight: bold;
  font-size: 1rem;
}

.banner-btn {
  background-color: #F0A83E;
  text-transform: uppercase;
  color: #ffffff;
  width: 120px;
  border-radius: 5px;
  text-align: center;
  padding: 15px 23px;
  margin-bottom: 107px;
  margin-top: 12px;
}

.banner-title {
  color: 3C2313;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  background-color: white;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 12px;
  font-size: 1.7rem;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {

  text-decoration: underline
}

/* seccion productos  */

.title-sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.title-products {
  font-size: 2rem;
  font-weight: 700;

}

.footprint-title {
  color: orange;
  font-size: 85px;
  padding: 5px;
}

.subtitle-products {
  font-weight: 400;
  font-size: 15px;
}

.products {
  display: flex;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
}

.products-sales {
  width: 265px;
  height: 268px;
  margin-right: 21px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;

}


.prices {
  color: #F0A83E;
}


/* contacto */

.art-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 5rem;
  width: 100%;
  border: none;
}

.contacto-title {
  color: #3C2313;
  font-weight: 700;
  font-size: 25px;

}

.datos {
  border-radius: 15px;
  background-color: #3C2313;
  color: white;
  width: 300px;
  height: 40px;
  margin: 20px 10px;
  padding-top: 15px;
  padding-left: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resetear-button {
  background-color: #8A8787;
  margin-right: 6px;
  margin-bottom: 6px;
}

.enviar-button {
  background-color: #F0A83E;

}

.button {
  border-radius: 15px;
  width: 110px;
  height: 34px;
  color: #ffffff;
  border: 0;
}

.btn-subs {
  background-color: #3C2313;
}

.suscription {
  background-color: #F0A83E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  flex-wrap: wrap;

}

.newsletter-form {
  width: 100%;
}

.suscription p {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.newsletter-form input {
  border-radius: 15px;
  width: 50%;
  height: 23px;
  padding: 8px 15px;
  border: none;
  margin: 1px;
}


/* footer */

footer {
  display: flex;
  background-color: #3C2313;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  padding: 25px 70px;
}

.footer-copyright {
  background-color: #222222;
  color: #ffffff;
  padding: 4px;
  text-align: center;
  width: 100%;
}

.footer-info {
  color: #ffffff;
}

.footer-description {
  color: #8A8787;
}

.footer-logo {
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-lastlogo {
  color: #F0A83E;
}

.footer-link {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}


.link-img {
  border-radius: 50%;
  background-color: #8A8787;
  width: 66px;
  height: 66px;
  border: solid 4px #786960;
  display: flex;
  color: white;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  ;

}

.link-txt {}

.ms {
  color: rgba(255, 255, 255, 0.5);
}


@media (min-width: 544px) {
  header {
    width: 100%;
  }

  .nav-lista {
    display: none;
  }

  main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

}


@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-lista {
    display: flex;
  }

  .menu-burguer {
    display: none;
  }

  .header-container-top {
    display: flex;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}



@media (min-width: 992px) {
  header {
    width: 100%;
  }

  footer {
    display: flex;
    justify-content: space-between;

  }

  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}